option_settings:
  - namespace: aws:elasticbeanstalk:sqsd
    option_name: HttpPath
    value: /
  - namespace: aws:elasticbeanstalk:sqsd
    option_name: HttpConnections
    value: 8
  - namespace: aws:elasticbeanstalk:command
    option_name: Timeout
    value: 1200
  - namespace: aws:elasticbeanstalk:sqsd
    option_name: VisibilityTimeout
    value: 1200
  - namespace: aws:elasticbeanstalk:sqsd
    option_name: InactivityTimeout
    value: 1200
  - namespace: aws:elb:policies
    option_name: ConnectionSettingIdleTimeout
    value: 1200

commands:
  command1:
    command: "echo 'webapp ALL=(ALL) NOPASSWD: ALL' | sudo EDITOR='tee -a' visudo"

container_commands:
  command2:
    command: "./populate &"
    leader_only: true
